<h1>Hello</h1>
<p>You are analyzed by Google Analytics</p>
<ul>
    <li style="list-style-type: '👀 ';"><a href={{url_for('click')}}>nothing here</a></li>
    <li style="list-style-type: '📝 ';"><a href={{url_for('logger')}}>logger</a></li>
    <li style="list-style-type: '🍪 ';"><a href={{url_for('auth')}}>cookies</a></li>
    <li style="list-style-type: '📈 ';"><a href={{url_for('trends')}}>trends</a></li>
    <li style="list-style-type: '⌚ ';"><a href={{url_for('timer')}}>timer</a></li>
  </ul>  